*.swp
.cache.sqlite
*.pyc
venv/
*checkpoint*
markerstudy/mstudy/venv/
markerstudy/mstudy/.venv/
.vscode/settings.json
*env

breedr/__MACOSX/tables/._account_user.csv
breedr/.vscode/launch.json
breedr/tables/output
subsea7/notebook.log
subsea7/poetry.lock
subsea7/.vscode/settings.json
subsea7/subsea7.code-workspace
breedr/poetry.lock
breedr/.vscode/settings.json
breedr/mylog.log
breedr/breedr.code-workspace
belron/poetry.lock
belron/output.mp3
