[submodule "CSIRO/agent_mvp/agents/code-compliance-agent/ge_connector_demo"]
	path = CSIRO/agent_mvp/agents/code-compliance-agent/ge_connector_demo
	url = git@github.com:brendanhills-altostrat/ge_connector_demo.git

[submodule "antigravity_suite/conductor"]
	path = antigravity_suite/conductor
	url = https://github.com/gemini-cli-extensions/conductor.git

[submodule "custom_harness/conductor"]
	path = custom_harness/conductor
	url = https://github.com/gemini-cli-extensions/conductor.git

[submodule "elevate_ai_ttt/elevate-hr-policy-agent"]
	path = elevate_ai_ttt/elevate-hr-policy-agent
	url = git@github.com:tanyagoogle/elevate-hr-policy-agent.git

[submodule "monash/StudyOSMaterials"]
	path = monash/StudyOSMaterials
	url = https://github.com/cloud-gtm/StudyOSMaterials.git
