*.swp
.cache.sqlite
*.pyc
venv/
*checkpoint*
markerstudy/mstudy/venv/
markerstudy/mstudy/.venv/
.vscode/settings.json
*env
*.lock
*.python-version

breedr/__MACOSX/tables/._account_user.csv
breedr/.vscode/launch.json
breedr/tables/output
subsea7/notebook.log
subsea7/.vscode/settings.json
subsea7/subsea7.code-workspace
breedr/.vscode/settings.json
breedr/mylog.log
breedr/breedr.code-workspace
belron/output.mp3
pearson/author_tools/temp_chapter.pdf
HealthConnect/poetry.lock
HealthConnect/.vscode/HealthConnect.code-workspace
drive_upload/credentials.json
drive_upload/token.json
drive_upload/.vscode/launch.json
agents/solar_agent/.python-version
agents/solar_agent/solar_agent/agent.py


gpx_route_organizer/node_modules/*
breedr/dbml-error.log
breedr/credential.json
agents/connector-test-agent.zip
capita/catalyst-front-door/cloud-sql-proxy
capita/catalyst-front-door/core.*
capita/catalyst-front-door/nohup.out
capita/catalyst-front-door/package-lock.json
capita/catalyst-front-door/package.json
capita/catalyst-front-door/.backup_*
capita/catalyst-front-door/.gemini/settings.json
capita/catalyst-front-door/deployment/mcp-toolbox/toolbox
