*.swp
.cache.sqlite
*.pyc
*checkpoint*
*.venv/
.vscode/settings.json
*env
*poetry.lock
*uv.lock

breedr/__MACOSX/tables/._account_user.csv
breedr/.vscode/launch.json
breedr/tables/output
subsea7/notebook.log
subsea7/.vscode/settings.json
subsea7/subsea7.code-workspace
breedr/.vscode/settings.json
breedr/mylog.log
breedr/breedr.code-workspace
belron/output.mp3
pearson/author_tools/temp_chapter.pdf

HealthConnect/.vscode/HealthConnect.code-workspace
drive_upload/credentials.json
drive_upload/Screen Recording 2025-06-02 at 10.25.02 PM.mov_.gstmp
drive_upload/token.json
drive_upload/.vscode/launch.json

agents/solar_agent/solar_agent/agent.py
*.python-version
