# The Google Cloud Project ID
PROJECT_ID=

# The Google Cloud project location (e.g., us-central1)
LOCATION=

# Reference to PROJECT_ID, usually the same
GOOGLE_CLOUD_PROJECT=${PROJECT_ID}

# The name of the Google Cloud Storage bucket for audio files
GCS_BUCKET_NAME=

# The ID of the GCP Speech Recognizer to use.   It will be created if it doesn't exist.
GCP_RECOGNIZER_ID=my_recognizer


# The GCP Speech-to-Text model to use (e.g., telephony, latest_long)
GCP_TRANSCRIPTION_MODEL="telephony"