# The Google Cloud Project ID
PROJECT_ID=

# The Google Cloud project location (e.g., us-central1)
LOCATION=

# Reference to PROJECT_ID, usually the same
GOOGLE_CLOUD_PROJECT=${PROJECT_ID}

# The name of the Google Cloud Storage bucket for audio files
GCS_BUCKET_NAME=

WEBSERVER_PORT=
